body {
	box-sizing: border-box;
}

/*font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;*/

/* use percentages, works better for mobile screens*/
body {
	height: 100%;
	width: 100%;
	background: url(https://i.annihil.us/u/prod/aouquiz/images/background_desktop.jpg) repeat; 
	background-size: cover;
	font-family: 'Oxygen', sans-serif;
	color: white;
}

header {
	width: 100%;
	text-align: center;
	margin: 25px auto 0 auto;
	font-family: 'Oxygen', sans-serif;
	font-size: 27px;
	visibility: hidden;
}

header div {
	display: inline-block;
	border: 1px white solid;
	border-radius: 10px;
	padding: 5px 5px;
	margin: 0 5px; 
	color: white;
	background: rgba(20, 20, 20, .6);
}

main {
	width: 100%;
	font-size: 25px;
	margin: 85px auto 0 auto;
	text-align: center;
	align-content: center;
}


.main-content div{
	margin: 0 auto;
	border: 1px white solid;
	width: 75%;
	border-radius: 10px;
	padding: 5px 5px;
	text-align: center;
	background: rgba(20, 20, 20, .6);
	border: none;
}

button, #question-page input, #js-restart-button {
	padding: 10px;
	border-radius: 2em / 5em;
	background: rgba(20, 20, 20, .6);
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	color: white;
	align-items: center;
}

#question-page input {
	margin-top: 10px;
	margin-bottom: 8px;
}

button:hover, #question-page input:hover  {
	background-color: #262626;
	color: #ff1a1a;
	cursor: pointer;
	border-color: #ff1a1a; 
}

#js-restart-button:hover {
	background-color: #262626;
	color: #086788;
	cursor: pointer;
	border-color: #ff1a1a; 
} 

.question-text {
	border: none;
}

.question-form {
	border-radius: 0 0 50px 50px;
	border: none;
}


#js-start-button {
	margin-top: 60px;
	padding: 20px;
}


.correct-feedback img {
	border: 4px solid green;
	border-radius: 50px;
}

.incorrect-feedback img {
	border: 4px solid red;
	border-radius: 50px;
}

.quizForm img {
	max-width: 85%;
	max-height: 300px;
}

.results p {
	font-size: 1.5em;
}
}

@media only screen and (orientation: portrait) {
	body {
		width: 60%;
	}

}